*.egg-info
*.pot
*.py[co]
*.sublime-*
.coverage
.hypothesis
.idea
.python-version
.tox
.vscode
**/__pycache__
./polls/migrations/__pycache__
./polls/__pycache__
./pollsapi/__pycache__
./tests/__pycache__
docker-compose.yml
docker/environments
Dockerfile
htmlcov
Makefile
env.local
*.sqlite3